{
  "tty": true,
  "volumes": [],
  "files": [],
  "resource": {
    "memory": 28,
    "vcpu": 1
  },
  "containers": [
    {
      "command": [
        "/bin/bash"
      ],
      "workdir": "/",
      "image": "hyper:dhrystone",
      "name": "hyper-dhrystone"
    }
  ],
  "id": "hyper-dhrystone"
}